.homepage-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-right: 0px;
    /* width: 100%; */
}
.details-container{
    width: 80%;
}
.image-container{
    justify-content: center;
}